<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscrição para o evento</title>
</head>
<body>
    <h1>Evento PythonFull</h1>

    <form action="{% url 'incricao' %}" method="POST">
        {% csrf_token %}
        <lable>Nome:</lable>
        <input type="text" name="name" placeholder="Seu nome...">
        <lable>E-mail:</lable>
        <input type="email" name="email" placeholder="Seu e-mail...">
        <input type="submit" value="Inscrever-se">
    </form>
</body>
</html>